---
layout: default
title: 百变茄的网络日记
---
<div class="list-header">
	<h4>最新文章</h4>
</div>
<ul class="post-list">
{% for post in paginator.posts %}
　　<li><span class="post-time">{{ post.date | date:'%Y-%m-%d' }}</span><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>


<!-- 分页 -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a class="page-prev" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; 前一页</a>
  {% else %}
    <span class="page-prev page-none">&laquo; 前一页</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em class="page-num">{{ page }}</em>
    {% elsif page == 1 %}
      <a class="page-num" href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a class="page-num" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a class="page-next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">后一页 &raquo;</a>
  {% else %}
    <span class="page-next page-none">后一页 &raquo;</span>
  {% endif %}
</div>
{% endif %}