<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="{{ site.url }}/statics/css/main.css">
	<link rel="stylesheet" href="{{ site.url }}/statics/css/default.css">
	<link rel="stylesheet" href="{{ site.url }}/statics/css/monokai_sublime.css">
	<script src="{{ site.url }}/statics/js/highlight.js"></script>	
	<script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
	<header>
		<div class="nav-header w">
			<a href="{{ site.url }}/index.html"><h2 class="logo">百变茄的网络日记</h2></a>
			<button id="nav-toggle" class="nav-toggle" type="button">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<nav id="nav-main" class="nav-main">
				<a href="{{ site.url }}/index.html">首页</a>
				<a href="{{ site.url }}/archives.html">归档</a>
				<a href="{{ site.url }}/tags.html">标签</a>
				<a href="{{ site.url }}/about.html">关于我</a>
			</nav>			
		</div>
	</header>
	<div class="w con">
		{{ content }}
	</div>
	<footer>
		<p class="w">© 百变茄</p>
	</footer>
	<script>
		function getStyle(obj, attr)  
		{  
		   return obj.currentStyle?obj.currentStyle[attr]:getComputedStyle(obj,false)[attr];
		}
		var navToggle = document.getElementById("nav-toggle"),
			navMain = document.getElementById("nav-main");
		navToggle.onclick=function(){
			navMain.style.display = (getStyle(navMain, "display") == "block")?"none":"block";		
		}
	</script>	
</body>
</html>